<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="certificate.css">
</head>
<body>
    <section class="main" id="main">
        <section class="border">
        <div class="logo2">
        <img src="/Assets/logo.png">
        </div>
    
        <div class="intro">
            <h1>CERTIFICATE</h1>
            <p>OF PARTICIPATION</p>
            <H2 style="margin-top: 0px;">This Certificate is presented to </H2>
            <h1><B ID="Name"></B></h1>
            <hr>
            <p style="margin-top: 8px;">For Successfully Attending an Online/offline internship on </p>
            <h3 id="course"></h3>
            <h5 id="cstime"></h5>
        </div>
    
        <div class="sign">
    <div class="dir">
        <h4 ><%= data.basicInfo ? data.basicInfo.name : 'N/A' %></h4>
            <h4>Mr. Ravi Rautela</h4>
            <P>Founder & CEO</P>
            <p>Mangosorange Agritech India Pvt. Ltd.</p>
            </div>
            <div class="medallogo">
                <img src="/Assets/medal.png">
            </div>
            <div class="dir">
                <h4>................................</h4>
                    <h4>Ms. Rama Bist</h4>
                    <P>Director</P>
                    <p>Mangosorange Service Pvt. Ltd.</p>
            </div>
            </div>
        </sectio>
        </section>
        </section>
</body>
</html>